@if (visible()) {
  <div class="hero bg-base-200 min-h-80">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Congratulation!</h1>
        <p class="py-6">
          *★,°*:.☆(￣▽￣)/$:*.°★* 。
        </p>
        <div class="flex-col inline-flex gap-4">
          <button class="btn btn-primary" (click)="inc.emit(1)">Finish</button>
          <button class="btn btn-neutral btn-dash" (click)="inc.emit(-1)">Back</button>
        </div>
      </div>
    </div>
  </div>
}
